<!doctype html>
<html lang="en">

<head>
    <title>Edit Item</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Our Styling-->
    <link rel="stylesheet" href="/sidebar.css">
    <link rel="stylesheet" href="/popup.css">
  


</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a href="/inventory"><i class="fas fa-boxes    "></i> Inventory</a></li>
                <li><a href="/sales">&nbsp;<i class="fa fa-usd" aria-hidden="true"></i>&nbsp;&nbsp;Sales</a></li>
                <li><button type="button" class="btn btn-success" id="sell-button">Sell</button></li>
            </ul>
        </div>

        <!-- Page Content-->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-success" id="menu-toggle"><i class="fa fa-bars"
                                aria-hidden="true"></i></a>

                        
                        <div class="editItem-modal">
                            <div class="editItem-modal-content">
                                <form method="post" action="/editItem/update" id="editForm">
                                    {{#each item}}
                                    <label for="Brand">Brand</label>
                                    <input type="text" id="Brand" name="Brand" placeholder="Name" value = "{{Brand}}" />
                                    <label for="Product">Product Name</label>
                                    <input type="text" id="Product" name="Product" placeholder="Name" value = "{{Product}}" />
                                    <label for="Quantity">Quantity</label>
                                    <input type="text" id="Quantity" name="Quantity" placeholder="0" value = "{{Quantity}}" />
                                    <label for="Size">Size</label>
                                    <input type="text" id="Size" name="Size" placeholder="0" value = "{{Size}}" />
                                    <label for="Barcode">Barcode/UPC #</label>
                                    <input id="Barcode" name="Barcode" type="text" placeholder="Enter UPC #" value = "{{Barcode}}" />
                                    <input id="itemID" name = "itemID" type = "hidden" value = "{{_id}}" />

                                    <label>Personal or Salon Item</label><br />
                                    <label>
                                        <input type="radio" id="Location" name="Location" value="Personal" /> Personal
                                    </label> <br>
                                    <label>
                                        <input type="radio" id="Location" name="Location" value="Salon" /> Salon
                                    </label> <br>
                                    <input type="submit" class="btn btn-success" value="Update Item" />
                                    {{/each}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal Section -->

        <!--Sell Item Modal-->
        <div class="bg-modal">
            <div class="modal-content">
                <div class="close">+</div>
                <form method="post" action="/inventory/sell" id="sellitemform">
                    <label for="Quantity">Quantity</label>
                    <input type="text" id="Quantity" name="Quantity" placeholder="0" />
                    <label for="Barcode">Barcode/UPC #</label>
                    <input id="Barcode" name="Barcode" type="text" placeholder="Enter UPC #" />

                    <input type="submit" class="btn btn-success" value="Sell" />
                </form>
            </div>
        </div>

        <!-- Menu toggle script-->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            });
        </script>


        <!-- Sell Pop Up Script -->
        <script>
            document.getElementById('sell-button').addEventListener('click',
                function () {
                    document.querySelector('.bg-modal').style.display = 'flex';
                });

            document.querySelector('.close').addEventListener('click',
                function () {
                    document.querySelector('.bg-modal').style.display = 'none';
                });
        </script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>