<!doctype html>
<html lang="en">

<head>
    <title>Inventory</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <!-- Our Styling-->
    <link rel="stylesheet" href="sidebar.css">

    <link rel="stylesheet" href="popup.css">
    <link rel="stylesheet" href="site.css">


</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a href="/inventory"><i class="fas fa-boxes    "></i> Inventory</a></li>
                <li><a href="/sales">&nbsp;<i class="fa fa-usd" aria-hidden="true"></i>&nbsp;&nbsp;Sales</a></li>
                <li><button type="button" class="btn btn-success" id="sell-button">Sell</button></li>
            </ul>
        </div>

        <!-- Page Content-->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="btn btn-success" id="menu-toggle"><i class="fa fa-bars"
                                aria-hidden="true"></i></a>
                        <a href="#" class="btn btn-success" id="additem-button">Add Item</a>


                        <div class="d-flex justify-content-center align-items-center container ">
                            <div class="row">
                                <form id="searchForm">
                                    <div class="input-group mb-3">
                                        <input type="text" placeholder="Search.." name="search" id="search-field">

                                        <button type="search" class="btn btn-secondary btn-sm"><i
                                                class="fa fa-search fa-fw"></i></button>
                                        <a href="/inventory" class="btn btn-secondary btn-sm"><i class="fa fa-refresh"
                                                aria-hidden="true"></i></a>

                                    </div>
                                </form>
                            </div>
                        </div>

                        <h1>Inventory</h1>

                        <div class="table-responsive">

                            <table class="table" id="customers">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Brand</th>
                                        <th>Product Name</th>
                                        <th>Barcode</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>Location</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each items}}
                                    <tr>
                                        <td><a href="/editItem/{{_id}}" class="btn btn-secondary" id="editButton"
                                                style="color: white;"><i class="fas fa-edit    "></i></a></td>

                                        <td><a href="/inventory?Brand={{Brand}}">{{Brand}}</a></td>
                                        <td><a href="/inventory?Product={{Product}}">{{Product}}</a></td>
                                        <td><a href="/inventory?Barcode={{Barcode}}">{{Barcode}}</a></td>
                                        <td><a href="/inventory?Quantity={{Quantity}}">{{Quantity}}</a></td>
                                        <td><a href="/inventory?Size={{Size}}">{{Size}}</a></td>
                                        <td><a href="/inventory?Location={{Location}}">{{Location}}</a></td>
                                        <td>
                                            <a href="/inventory/increase/{{_id}}" class="btn btn-success"
                                                style="color: white;" id="increaseID"><i class="fas fa-plus    "></i></a>
                                            {{#if Quantity}}
                                                <a href="/inventory/decrease/{{_id}}" class="btn btn-danger"
                                                style="color: white;" id="decreaseID"><i class="fas fa-minus    "></i></a>
                                            {{/if}}
                                            
                                            <a href="/inventory/delete/{{_id}}" class="btn btn-secondary"
                                                style="color: white;"onclick="return confirm('Are you sure you want to delete this item?')">
                                                <i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                        <input type="hidden" name="passBarcode" id="passBarcode" value="{{Barcode}}" />
                                    </tr>


                                    {{else}}
                                    <!--<div class="col-md-12 text-center">-->
                                    <strong>No Items Available</strong>
                                    <!--</div>-->
                                    {{/each}}

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#unless employees}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/unless}}
    </div>


    <!-- Modal Section -->

    <!--Sell Item Modal-->
    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <form method="post" action="/inventory/sell" id="sellitemform">
                <label for="Quantity">Quantity</label>
                <input type="text" id="Quantity" name="Quantity" placeholder="0" />
                <label for="Barcode">Barcode/UPC #</label>
                <input id="Barcode" name="Barcode" type="text" placeholder="Enter UPC #" />

                <input type="submit" class="btn btn-success" value="Sell" />
            </form>
        </div>
    </div>

    <!--Add Item Modal-->
    <div class="additem-modal">
        <div class="additem-modal-content">
            <div class="closeadditem">+</div>
            <form method="post" action="/inventory/add" id="additemform">
                <label for="Brand">Brand</label>
                <input type="text" id="Brand" name="Brand" placeholder="Name" />
                <label for="Product">Product Name</label>
                <input type="text" id="Product" name="Product" placeholder="Name" />
                <label for="Quantity">Quantity</label>
                <input type="text" id="Quantity" name="Quantity" placeholder="0" />
                <label for="Size">Size</label>
                <input type="text" id="Size" name="Size" placeholder="0" />
                <label for="Barcode">Barcode/UPC #</label>
                <input id="Barcode" name="Barcode" type="text" placeholder="Enter UPC #" />

                <label>Personal or Salon Item</label><br />
                <label>
                    <input type="radio" id="Location" name="Location" value="Personal" /> Personal
                </label> <br>
                <label>
                    <input type="radio" id="Location" name="Location" value="Salon" /> Salon
                </label> <br>
                <input type="submit" class="btn btn-success" value="Add Item" id="addItem" />
                
            </form>
        </div>
    </div>

    <!-- Menu toggle script-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("menuDisplayed");
        });
    </script>


    <!-- Sell Pop Up Script -->
    <script>
        document.getElementById('sell-button').addEventListener('click',
            function () {
                document.querySelector('.bg-modal').style.display = 'flex';
            });
        document.querySelector('.close').addEventListener('click',
            function () {
                document.querySelector('.bg-modal').style.display = 'none';
            });
    </script>

    <!--Add Item Pop Up Script-->
    <script>
        document.getElementById('additem-button').addEventListener('click',
            function () {
                document.querySelector('.additem-modal').style.display = 'flex';
            });
        document.querySelector('.closeadditem').addEventListener('click',
            function () {
                document.querySelector('.additem-modal').style.display = 'none';
            });
    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>

